.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
}    

.imgg{
box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 10.2);
padding: 20px;
}
.imgg:hover{
    width: 32%;
}

#logo_img{
    width: 120px;
}