.bodyBackground 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   border-color: white;
   background-size: cover;
   background-image: url("BirthdayImage.jpg");
   border-style: ridge;
}

